body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
}
.navigation-header{
    padding: 0 121px;
    height: 64px;
    border-bottom: 1px solid #EBEBEB
}
.content-header{ 
    display: flex;
    align-items: center;
    height: 100%;
}
.content-header__image{
    width: 98.08px;
    height: 32px;
    
}
.content-header__list{
    color: #777777;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.content-header__list-item{
    margin-right: 10px;
    padding: 6px 8px;
}
.content-header__form{
    flex: 1;
    text-align: end;
}
.button{
    padding: 14px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #777777;
}
.button--blue{
    background-color: #1192EE;
    color: #ffff;
}
.dropdown-menu{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: all .5s ;

}
.menu-content{
    padding: 0 20px;
    width: 720px;
    height: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column-gap: 20px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: -1px 1px 16px -7px #3C3B47;
    
}
.menu-item{
    display: flex;
    align-items: center;
}
.menu-item__image{
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.menu-item__text-tittle{
    color: #616161;
    line-height: 13px;
    margin-bottom: 0;
}
.menu-item__text-parrafo{
   font-size: 11px;
   line-height: 14px;
   margin-top: 4px;
   color: #868686;
}
.content-header__list-item--menu:hover .dropdown-menu{
  max-height: 500px;
  overflow: visible;
  
}